@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

body {
    background: #ececec;
    font-family: 'Noto Sans KR', sans-serif;
}

.App {
    text-align: center;
    .signIn {
        margin: 100px auto;
        width: 720px;
        min-width: 720px;
        background: #fff;
        border-radius: 20px;
        padding: 100px 20px 120px;
        box-shadow: 2px 4px 15px rgba(169, 169, 169, 0.4);
        h2 {
            font-size: 36px;
            font-weight: 900;
            margin-bottom: 60px;
        }
        input {
            display: block;
            width: 100%;
            border-radius: 5px;
            margin: 20px 0;
            border: 1px solid #ccc;
            height: 50px;
            padding: 0 25px;
        }
        button {
            margin-top: 20px;
            width: 100%;
            border: 0;
            font-size: 16px;
            padding: 20px;
            font-weight: 600;
            border-radius: 5px;
            background: #8500c9;
            color: #fff;
            &:hover {
                background: #660299;
                cursor: pointer;
            }
        }
    }
    .Todo {
        h1 {
            font-size: 50px;
            font-weight: 600;
        }
        .TodoCreate {
            margin-top: 30px;
            .inputBox {
                position: relative;
                display: inline-block;
                input {
                    width: 400px;
                    height: 42px;
                    line-height: 42px;
                    padding-left: 20px;
                    font-size: 14px;
                    border: 0;
                    border-radius: 5px;
                }
                .plusBtn {
                    position: absolute;
                    width: 30px;
                    height: 30px;
                    color: #ff5252;
                    top: calc(50% - 15px);
                    right: 10px;
                    cursor: pointer;
                    &:active {
                        color: #df3131;
                    }
                }
            }
            select {
                width: 160px;
                height: 42px;
                border: 0;
                border-radius: 5px;
                margin-left: 10px;
            }
        }
        .TodoList {
            margin-top: 50px;
            li {
                width: 500px;
                background: #fff;
                margin-bottom: 5px;
            }
        }
    }
}
